<section>
  <h3 class="new-post">Create New Post</h3>
  <form class="new-post-form">
    <div>
      <h3>Title</h3>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <h3 class="pad-bot">Content</h3>
      <textarea id="post-content"></textarea>
    </div>
    <button type="submit" class="">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.topic}}/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>