<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 border border-primary">
        <h2>Topics</h2>
          <ul>
            <li> topic 1 </li>
            <li> topic 2 </li>
            <li> topic 1 </li>
            <li> topic 1 </li>
            <li> topic 1 </li>
          </ul>
      </div>
      <div class="col-6 border border-primary">
        <h2>Forum</h2>
      </div>
      <div class="col-4 border border-primary">
        <div class="row border border-primary">
          <div class="col border border-primary">
            <h3>Chat</h3>
              <p>lorem says</p>
              <p>ipsum says</p>
          </div>      
        </div>
        <div class="row border border-primary">
          <div class="col border border-primary">
            <h3>Representative</h3>
            <div class="input-group mb-3 user-input">
              <input type="text" class="form-control address-input" placeholder="Enter Your Zip Code" aria-label="Enter Your Zip Code" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary submit-btn" type="button">Submit</button>
            </div>
            <div class ="flex-column civic-rep"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
<!-- add users for admin page -->
  <section>
    <div class="container-fluid border border-primary">
      <div class="row">
        <div class="col">
          <h4>add users box goes here</h4>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="/javascript/civicinfo.js"></script>