<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <img src="/image/immigration-impact-citizenship.jpeg" class="img-fluid border border-light" alt="...">
        {{!-- <h4>Learn More</h4> --}}
        <p> 
          This webpage is for adults in the process of seeking United States citizenship. Linked in the header and footer of the page, you will find important links to help you on your journey including information from U.S. Citizenship and Immigration Services, the Department of Homeland Security, information about DACA (Deferred Action for Childhood Arrivals), as well as the citizenship resources and programs of the New York Public Library and the Hartford Public Library. You can also request login information for a free online course which shows flashcards of the 100 Civics Questions you need to know for your immigration interview. (2008 edition) To request a login for the online course, please email tcampbell@hplct.org.
        </p>
      </div>
      <div class="col-4 border border-5 bg-dark">
        <form class="login-form">
          <p class="text-center text-white h3">Log In here</p>
          <div class="form-group">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="password-login" placeholder="Password">
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
        <form class="sign-up-form">
          <!-- Sign up form -->
          <p class="text-center text-white h3">Sign Up</p>
          <div class="form-group">
            <label for="name1"></label>
            <input type="text" class="form-control" id="inputFirst" placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label for="name2"></label>
            <input type="text" class="form-control" id="inputLast" placeholder="Enter Last Name">
          </div>
          <div class="form-group">
            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
            <label for="exampleInputEmail"></label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="examplePassword"></label>
            <input type="password" class="form-control" id="inputPassword" aria-describedby="emailHelp" placeholder="Enter Password">
          </div>
          <div class="form-group">
            <label for="exampleZip"></label>
            <input type="text" class="form-control" id="inputZip" aria-describedby="emailHelp" placeholder="Enter zip">
          </div>
          <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end"><button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="/javascript/login.js"></script>