.disableClick {
    pointer-events: none;
}

.height {
    height: 100vh;
}

.hght-100 {
    height: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.sixty-pct {
    display: flex;
    flex-direction: column;
    flex: 1 60%;
}

.forty-pct {
    flex: 1 40%;
}

/* forum styles */ 

.welcome {
    padding: 20px;
    font-size: 18px;
}

#legislators {
    display: none;
}

/* socket.io styles */

#username {
    display: none;
}

.chat-body {
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.chat-body #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: relative;
    bottom: 0;
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

.chat-body #input {
    border: none;
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

.chat-body #input:focus { 
    outline: none; 
}

.chat-body #form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

.chat-body #messages {
    height: 100%;
    list-style-type: none; margin: 0; padding: 0;
}

.chat-body #messages > li {
    padding: 0.5rem 1rem;
}     

.chat-body #messages > li:nth-child(odd) {
    background: #efefef;
}